body{
    margin: 0;
}
#navBar{
    display:flex;
    justify-content:center;
    align-items:center;
    border:1px solid #C6C6C6;
    height: 60px;
    font-size:18px;

}
#logo{
    display:flex;
    align-items:center;
    width: 20%;
    margin-left: 20px;
    margin: 20px;

}

#logo button{
    border: none;
}
#logo img{
    width:46%;
    margin-left:30px;
}
#center{
    width: 60%;
    margin: auto;
    border:1px solid #C6C6C6;
    margin: 0 10px;
}
#search {
    display: flex;
    justify-content: center;
    align-content: center;
    width:97%;
    height: 100%;
}
#searchIcon{
    padding-top: 7px;
    margin: 0;
    padding-left: 10px;

}

#search input{
    width:99%;
    height:30px;
    border:none;
    border-right: 1px solid #C6C6C6;
    letter-spacing:1px;
    padding-left:10px;
    font-size: 20px;

}

#search span{
    
    padding-left: 10px;
    cursor: pointer;
    margin-right: 0;
    padding-right: 0;
}
#end{
    width:20%;
    display:flex;
    justify-content:space-evenly;
    align-items:center;
    cursor: pointer;
}
#videodiv{
    margin-top: 50px;
}
.mons{
    width: 450px;
    height:  300px;
    margin: 20px;
}

#end i:hover{
   background-color: #ddd;
   padding: 5px; 
}

#videodiv{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.mons{
    width: 300px;
    height:  180px;
    margin: 15px;
    border: 1px Solid rgba(0,0,0,0.3);
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.3);
}
